#recentlyViewed {
    width: 25%;
    float: right;
}

#information {
    width: 75%;
    float: left;
}

.row {
    overflow: auto;
}

@media screen and (max-width: 900px){
    #recentlyViewed {width: 100%;}
    #information {width: 100%;}
}

.text {
    text-align: center;
}